/**768:平板，467:手機*/

nav.navbar{
	border-bottom: 1px solid #ccc;
}


#TopBlogName{
	width: 200px;
    height: 28px;
	left: 30px;
	bottom: 8px;
	image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    -webkit-font-smooting:  antialiased;
	background-color: none;
	cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,90);
}

.dropdown-toggle::after{
	display: none;
}

header{
	margin-bottom: 80px;
}

@media (min-width: 992px){ 
	.navbar-expand-lg .navbar-nav .nav-link {
      padding-left: 1.2rem;
      padding-right: 1.2rem;	
	}
}

a.nav-link.active{    /*大螢幕的選取工作列的各個小按鈕*/
	padding-left: 20px;
    padding-right: 20px;	
	padding-bottom: 10px;
}

a#navbarDropdown.nav-link.dropdown-toggle{ /*小螢幕的選取工作列*/
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

div#navbarOffcanvasLg.offcanvas.offcanvas-end{ /*整個大螢幕的選取工作列*/
	margin-left: 29vw;
}

header ul.navbar-nav li{
	position : relative;
	top: 9px;
	border-right: 1px #ccc solid;
}

header ul.navbar-nav ul li{
	position : relative;
	float: none;
	top: 0px;
	padding-right: 0px;
	margin-left: 0px;
	border-right: none;
}

header ul.navbar-nav a:hover{
	background-color: #ef5c28;
    color: #fff;
}

header ul.navbar-nav li:hover > a{
	background-color: #ef5c28;
    color: #fff;
}

header ul.navbar-nav ul{
	display: none;
}

header div ul.navbar-nav.me-2.ml-10.mb-lg-0 {
	justify-content: center;
}

.offcanvas-end { /*小螢幕的選取工作列的寬度*/
	width: 300px;
}

@media only screen and (max-width: 1137px){
	div#navbarOffcanvasLg.offcanvas.offcanvas-end{
	  margin-left: 19vw;
	}	
}
@media only screen and (max-width: 991px){ /*出現右邊選單標誌*/
	
	header ul.navbar-nav li{
	  position : relative;
	  top: 9px;
	  padding-left: 0px;
	  margin-left: 20px;
	  border-right: none;
	}	
	
	a#navbarDropdown.nav-link.dropdown-toggle{ /*小螢幕的選取工作列*/
	margin-top: 10px;
	}
}

@media only screen and (min-width: 991px){ /*出現右邊選單標誌*/
    header ul.navbar-nav li:hover > ul{
	  display: block;
	}
}



/*-----------------------------------------------------------------*/

footer div.Outer{
	position: relative;
	background-color: black;
	margin-top: -240px;
	height: 80px;
	width: 100%;
	z-index: 0;
}

footer div h6{
	position: absolute;
	bottom: 19px;
	font-family:'monospace', Courier;
	color: white;
	z-index: 1;
}

#fb{
	position: absolute;
	cursor: pointer;
	max-width: 100%;
	bottom: 20px;
	color: white;
}

#ig{
	position: absolute;
	cursor: pointer;
	max-width: 100%;
	bottom: 20px;
	color: white;
}

#mail{
	position: absolute;
	cursor: pointer;
	max-width: 100%;
	bottom: 20px;
	color: white;
}

#github{
	position: absolute;
	cursor: pointer;
	max-width: 100%;
	bottom: 20px;
	color: white;
}

#BottomTitle{
	position: relative;
	top: 200px;
}
	
@media only screen and (max-width: 1625px){
	
	#fb{
	  position: absolute;
      left: 1135px;
      bottom: 14px;
	}
	#ig{
	  position: absolute;
      left: 1200px;
      bottom: 14px;
	}
	#mail{
	  position: absolute;
	  left: 1265px;
	  bottom: 14px;
	}
	#github{
	  position: absolute;
	  left: 1330px;
	  bottom: 14px;
	}
}

@media only screen and (max-width: 1420px){
	
	#fb{
	  position: absolute;
      left: 935px;
      bottom: 14px;
	}
	#ig{
	  position: absolute;
      left: 1000px;
      bottom: 14px;
	}
	#mail{
	  position: absolute;
	  left: 1065px;
	  bottom: 14px;
	}
	#github{
	position: absolute;
	  left: 1130px;
	  bottom: 14px;
	}
}

@media only screen and (max-width: 1210px){
	
	#fb{
	  position: absolute;
      left: 735px;
      bottom: 14px;
	}
	#ig{
	  position: absolute;
      left: 800px;
      bottom: 14px;
	}
	#mail{
	  position: absolute;
	  left: 865px;
	  bottom: 14px;
	}
	#github{
	  position: absolute;
	  left: 930px;
	  bottom: 14px;
	}
}

@media only screen and (max-width: 1010px){
	
	#fb{
	  position: absolute;
      left: 535px;
      bottom: 14px;
	}
	#ig{
	  position: absolute;
      left: 600px;
      bottom: 14px;
	}
	#mail{
	position: absolute;
	  left: 665px;
	  bottom: 14px;
	}
	#github{
	position: absolute;
	  left: 730px;
	  bottom: 14px;
	}
}

@media only screen and (max-width: 810px){
	
	#fb{
	  position: absolute;
      left: 435px;
      bottom: 14px;
	}
	#ig{
	  position: absolute;
      left: 500px;
      bottom: 14px;
	}
	#mail{
	  position: absolute;
	  left: 565px;
	  bottom: 14px;
	}
	#github{
	  position: absolute;
	  left: 630px;
	  bottom: 14px;
	}
}


@media only screen and (max-width: 768px){
	
	footer div.Outer{
	position: relative;
	background-color: black;
	height: 120px;
	width: 100%;
	z-index: 0;
	}
	
	footer div h6{
	position: absolute;
	bottom: 70px;
	left: 60px ;
	font-family:'monospace', Courier;
	color: white;
	z-index: 1;
	}
	
		#fb{
	  position: absolute;
      left: 85px;
      bottom: 14px;
	}
	#ig{
	  position: absolute;
      left: 150px;
      bottom: 14px;
	}
	#mail{
	  position: absolute;
	  left: 215px;
	  bottom: 14px;
	}
	#github{
	  position: absolute;
	  left: 280px;
	  bottom: 14px;
	}
}

.seperator{
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
	height: 1px;
}

div.mce_inline_error{
	background-color:#F0EFED !important;
}

html{
	height: 100%; /*外層高度100%*/
}

body{
	margin: 0;
	min-height: 100%;
	display: grid; 
	grid-template-rows: 0.5fr auto;
}

.footer{
	grid-row-start: 2;/*欄位從第二條橫線開始*/
	grid-row-end: 3;/*欄位從第三條橫線結束*/

}
