/* FONT.CSS BEGIN */
*{
	font-family: 'Noto Sans TC', sans-serif ;
}

nav header, #mainContent h1, #mainContent h2, #mainContent p, #selfIntroSide p, #relatedPost h4, #subscriptionBoard h4,
#commemt-box-topic h4, #self-intro-bottom-name h3, #self-intro-bottom-intro p{
	font-family: 'Noto Serif TC', serif;
}

#self-intro-side-name h3, #self-intro-bottom-name h3, #ig-bottom-bar-name h4, #footer-main-content p, #klook-bottom-title p{
	font-family: 'La Belle Aurore', cursive;
}
/* FONT.CSS END */






/* NAVIGATION BAR CSS BEGIN */
:root {
	--navMainBackgroundColor: #80D1C8;
	--navHoverBackgroundColor: #e9cdc7;
}

*{
	margin:0 ;
	padding: 0;
	box-sizing: border-box;
}

nav{
	background: var(--navMainBackgroundColor);
	position: Sticky;
	width: 100%;
	z-index: 999;
	height: 65px;
	line-height: 65px;
	
}

nav .wrapper{
	margin: auto 5% auto 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

nav li{
	letter-spacing: 2px;
}

.wrapper .nav-links{
	display: inline-flex;
}

.nav-links li{
	margin-right: 30px;
	list-style: none; /* 把list前面點點去掉 */
}

.nav-links li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 100;
	padding: 9px 15px;
	border-radius: 5px;
	transition: 0.3s all ease;
}

.nav-links li a:hover{
	background: var(--navHoverBackgroundColor) ;
}

.nav-links .drop-menu{
	background: var(--navMainBackgroundColor);
	width: 180px;
	top: 85px;
	line-height: 45px;
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.nav-links .drop-menu{
	margin: auto;
	display: flex;
	justify-content: center;
}

.nav-links .drop-menu li{
	width: 100%;
	display: flex;
	justify-content: center;
	margin:0;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-menu{
	top: 65px;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
}

.drop-menu li a{
	width: 100%;
	display: block;
	padding: 0 0 0 20px;
	font-weight: 100;
	border-radius: 0px;
}

.mega-menu{
	position: absolute;
	top: 85px;
	background: var(--navMainBackgroundColor);
	width: 100%;
	left: 0;
	padding: 0 50px;
	opacity: 0;
	visibility: hidden;
}

.mega-menu .mega-menu-content{
	background: var(--navMainBackgroundColor);
	padding: 25px 20px;
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.mega-menu-content .row{
	width: calc(25%-30px);
	line-height: 35px;
}

.mega-menu-content .row header{
	color: white;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

.mega-menu-content .row:nth-child(1),
.mega-menu-content .row:nth-child(2){
	border-left: 0;
}

.mega-menu-content .row .mega-links{
	border-left: 1px solid rgba(255,255,255,0.09);
	margin-left: -40px;
}

.row .mega-links li{
	padding: 0 20px;
}

.row .mega-links li a{
	padding: 0 20px;
	color: white;
	font-size: 16px;
	display: block;
}

.row .mega-links li a:hover{
	color: #f2f2f2
}

.nav-links .mobile-item{

	font-weight: 300;
	display: none;
}

.wrapper .btn{
	color: #fff;
	font-size: 20px ;
	cursor: pointer;
	display: none;
}

.wrapper .btn.cancel-btn{
	position: absolute;
	right: 30px ;
	top : 10px;
}

nav .icon-list{
	width: 133px;
	display: grid ;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items:center;
}

.icon-list #fb{
	color: white;
	font-weight: 100;
	grid-column: 2/3;
}

.icon-list #fb:hover{
	color: #0165E1;
	transition: 0.3s;
}
	
.icon-list #ig{
	color: white;
	font-weight: 100;
	grid-column: 3/4;
}

.icon-list #ig:hover{
	color: #E1306C;
	transition: .3s;
}

.icon-list #mail{
	color: white;
	font-weight: 100;
	grid-column: 4/5;
}

.icon-list #mail:hover{
	color: #0FB5EE;
	transition: .3s;
}

@media screen and (max-width:970px){
	
	nav .wrapper{
	justify-content: end;
	}
	
	.wrapper .btn{
		display: block;
	}
	
	.wrapper .nav-links{
		position: fixed;
		height: 100vh;
		width: 100%;
		max-width: 350px;
		background: var(--navMainBackgroundColor);
		display: block;
		top: 0;
		left: -100%;
		overflow-y: auto;
		line-height: 50px;
		padding: 50px 10px;
	}
	
	
	.nav-links::-webkit-scrollbar{
		width: 0px;
	}
	
	
	#menu-btn:checked ~ .nav-links{
		left: 0%;
		transition: all 0.4s ease;
	}

	#menu-btn ~ .nav-links{	
		transition: all 0.7s ease;
	}
	
	#menu-btn:checked ~ .btn.menu-btn{
		display: none;
	}
	
	#menu-btn:not(:checked) ~ .btn.menu-btn{
		transition: all 0.3s ease;
	}
	
	.nav-links li{
		margin: 15px 10px;
	}
	
	.nav-links li a{
		height: 50px;
		line-height: 30px;
		padding:0 20xp;
		display: block;
		font-size: 17px;
		font-weight: 400;
	}
	
	.nav-links .drop-menu{
		position: static;
		opacity:1 ;
		visibility: visible;
		top: 65px;
		padding-left: 20px;
		width: 100%;
		max-height: 0px;
		overflow: hidden;
		transition: all 0.3s ease;
	}
	
	#showDrop1:checked ~ .drop-menu,
	#showDrop2:checked ~ .drop-menu,
	#showDrop3:checked ~ .drop-menu,
	#showMega1:checked ~ .mega-menu{
		max-height: 100%;
		transition: all 0.3s ease;
	}
	
	#showDrop1 ~ .drop-menu,
	#showDrop2 ~ .drop-menu,
	#showDrop3 ~ .drop-menu,
	#showMega1 ~ .mega-menu{
		transition: all 0.3s ease;
	}
	
	.nav-links .drop-menu li{
		margin: 10px 0 0 0;
	}
	
	
	.nav-links .drop-menu li a{
		font-size: 16px;
		font-weight: 300;
		border-radius: 5px;
		display: flex;
		align-items: center;
	}
	
	.nav-links .desktop-item{
		display:none;
	}
	
	.nav-links .mobile-item{
		display:block;
		font-size: 17px;
		color: #f2f2f2;
		font-weight: 400;
		padding-left: 15px;
		cursor: pointer;
		border-radius: 5px;
		transition: all 0.3s ease;
	}
	
	.nav-links .mobile-item:hover{
		background: var(--navHoverBackgroundColor);
	}
	
	.mega-menu{
	position: static;
	top: 65px;
	background: var(--navMainBackgroundColor);
	width: 100%;
	opacity:1 ;
	visibility: visible;
	padding: 0 20px;
	max-height: 0px;
	overflow: hidden;
	transition: all 0.3s ease;
	}

	.mega-menu .mega-menu-content{
		background: var(--navMainBackgroundColor);
		flex-direction: column;
		padding: 20px 20px 0 20px;
	}
	
	.mega-menu-content .row img{
		display: none;
	}
	
	.mega-menu-content .row{
		width: 100%;
		margin-bottom: 15px;
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	.mega-menu-content .row:nth-child(1),
	.mega-menu-content .row:nth-child(2){
		border-top: 0px;
	}
	
	.mega-menu-content .row .mega-links{
		border-left: 0px;
		padding-left: 15px;
	}
	
	.row .mega-links li{
		margin: 0;
	}
	
	.mega-menu-content .row header{
		font-size: 17px;
		margin-top: 15px;
		font-weight: 400;
	}
	
	.mega-menu-content .row:nth-child(1) header{
		margin-top: 0px;
	}
	
	.mega-menu-content .row:nth-child(2) header{
		margin-top: 10px;
	}
	
	.mega-menu-content .row li a{
		display: flex;
		align-items: center;
	}
	
	.mega-menu-content .row li:nth-child(1){
		margin-top: 10px;
	}
	
	nav .icon-list{
		width: 100px;
		display: grid ;
		grid-template-columns: 1fr 1fr 1fr;
		align-items:center;
	}
	
	.icon-list #fb{
		grid-column: 1/2;
	}


	.icon-list #ig{
		grid-column: 2/3;
	}
	
	
	.icon-list #mail{
		grid-column: 3/4;
	}


	
}

.wrapper input{
	display: none;
}
/* NAVIGATION BAR CSS END */





/* TOP LOGO.CSS BEGIN */
#topLogoBar{
	position: relative;
	height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#topLogoBar::after{
	content: "";
	width: 100%;
	height: 1px;
	background-image: url("https://raw.githubusercontent.com/Pacific-Feng/Picture_Storer/main/pacfeng-line.png");
	position: absolute;
	left: 0;
	bottom: 0%;
}

#topLogoBar .logo-area{
	display: flex;
	justify-content: center;
	align-items: center;
}

#topLogoBar .logo-area img{
	width: auto ;
	height: 350px; 
}
/* TOP LOGO.CSS END */





/* WHOLE PAGE CONTROL CSS BEGIN */
#main{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

#main-top{
	grid-column: 1/6;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 0.95fr 750px 0.15fr 300px 0.95fr;
	grid-template-rows: 1fr;
}

#main-top-left{
	grid-column: 2/3;
	grid-row: 1/2;
}

#main-top-right{
	grid-column: 4/5;
	grid-row: 1/2;
}

#main-bottom{
	grid-column: 1/6;
	grid-row: 2/3;
}

@media only screen and (max-width: 1300px){
	#main-top{
		display: grid;
		grid-template-columns: 0.35fr 700px 0.3fr 300px 0.35fr;
	}
}

@media only screen and (max-width: 1100px){
	#main-top{
		display: grid;
		grid-template-columns: 0.05fr 1fr 0.05fr;
	}
	
	#main-top-left{
		grid-column: 2/3;
		grid-row: 1/2;
	}
	
	#main-top-right{
		grid-column: 3/3;
		grid-row: 1/1;
	}
}

@media only screen and (max-width: 768px){
	#main-top{
		display: grid;
		grid-template-columns: 0.05fr 2fr 0.05fr;
	}
}
/* WHOLE PAGE CONTROL CSS END */





/* MAIN CONTENT.CSS BEGIN */
#mainContent a{
	text-decoration: none;
	color: black;
}

#mainContent img{
	width: 100%;
	height: auto;
	border-radius: 2px;
}

#mainContent{
	grid-column: 1/2;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px 100px 30px 1fr 80px;
}

#topic{
	grid-column: 2/3;
	grid-row: 2/3;
}

#topic h1.main-topic{
	display: flex;
	justify-content: center;
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	letter-spacing: 7px;
	margin-bottom: 35px;
	width: 100%;
}

#topic h2.second-topic{
	display: flex;
	justify-content: center;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 5px;
	font-weight: 300;
	width: 100%;
}

#post-time{
	font-size: 13px;
	font-weight: 400;
	color: #EACACB;
	margin:0;
	letter-spacing: 3px;
	cursor: pointer;
	margin-bottom: 15px;
	margin-top: 5px;
}

#post-time:hover{
	color: #A2B59F;
	transition: all 0.5s ease;
}

#article{
	grid-column: 2/3;
	grid-row: 4/5;
}

#article p{
	font-size:17px;
	font-weight: 300;
	letter-spacing: 3px;
	line-height: 35px;
}

#article .siteIntro{
	background-color: #f8f9fa;
	width: 100%;
	padding: 1vh 0 1vh 1vw;
	margin-bottom: 4vh;
}

#article a .changeColor{
	color: #A2B59F;
	font-weight: 500;
	display:inline;
}

#article a .changeColor:hover{
	color: #EACACB;
	transition:0.5s;
}

#main-content-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-content-btn p{
	letter-spacing: 1px;
    width: 188px;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
	color: white;
	background: black;
	border-radius: 5px;
	transition: all 0.3s ease;
}

#main-content-btn:hover p{
	opacity: 0.8;
}

#mainContent iframe{
	width: 75%;
	height: 315px;
}

#article .bottom-word{
	display: flex;
    justify-content: center;
    font-size: 14px;
	font-family: 'Noto Sans TC', sans-serif !important;
}



@media only screen and (max-width: 1067px){
	
	#mainContent{
		display: grid;
		grid-template-columns: 0.05fr 1fr 0.05fr;
		grid-template-rows: 80px 100px 30px 1fr 80px;
	}
	
	#topic{
		grid-column: 2/3;
		grid-row: 2/3;
	}
	
	#topic h1.main-topic{
		display: flex;
		justify-content: center;
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 30px;
	}

	#topic h2.second-topic{
		display: flex;
		justify-content: center;
		font-size: 13px;
		line-height: 13px;
		letter-spacing: 2px;
	}
}

#hand-p{
	color: #A2B59F;
}

#hand-p:hover{
	color: #EACACB;
	transition: .3s;
}

@media only screen and (max-width: 750px){
	#mainContent iframe{
		width: 95%;
		height: 315px;
	}
}

@media only screen and (max-width: 420px){

	#topic h2.second-topic{
		letter-spacing: 1px;
	}
}

@media only screen and (max-width: 390px){

	#topic h2.second-topic{
		font-size: 12px;
	}
}

@media only screen and (max-width: 365px){

	#topic h1.main-topic{
		font-size: 24px;
	}
	
	#topic h2.second-topic{
		letter-spacing: 0.5px;
	}
}

/* MAIN CONTENT.CSS END */





/* SELF_INTRO SIDE BAR.CSS BEGIN */
#selfIntroSide a{
	text-decoration: none;
	color: black;
}

#selfIntroSide img{
	width: 95%;
	height: auto;
}

#selfIntroSide{
	grid-column: 1/2;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 210px 55px 10px 280px 30px 1fr;
}

#self-intro-side-name{
	grid-column: 1/2;
	grid-row: 2/3;
	text-align: center;

}

#self-intro-side-name h3{
	letter-spacing: 4px;
	font-size: 30px;
    font-weight: 600;
}

#self-intro-side-picture{
	grid-column: 1/2;
	grid-row: 4/5;
	display: flex;
	justify-content: center;
}

#self-intro-side-text{
	grid-column: 1/2;
	grid-row: 6/7;
	text-align: center;
	
}

#self-intro-side-text p{
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
}

@media only screen and (max-width: 1100px){
	
	#selfIntroSide{
		display: none !important;
	}
	
}
/* SELF_INTRO SIDE BAR.CSS END */





/* IG SIDE BAR.CSS BEGIN */
:root{
	--igSideBarBtnColor: #f6ebe8;
	--igSideBarBtnColorHover: #e6c7c0;
}

#igSideBar a{
	text-decoration: none;
}

#igSideBar img{
	width: 100%;
}
	
#igSideBar{
	grid-column: 1/2 ;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 100px 20px 1fr 20px 50px;
}

#ig-sidebar-name{
	grid-column: 1/2;
	grid-row: 2/3;
}

#ig-sidebar-name a{
	display:flex;
	flex-flow: row wrap;
	align-items: center;
}

#ig-sidebar-name img{
	width: 70px;
	height: auto;
	border-radius: 100%;
	margin: 20px;
	transition: all 0.3s ease;
}

#ig-sidebar-name img:hover{
	opacity: 0.7;
}

#ig-sidebar-name h3{
	padding-bottom:10px;
	font-size:20px;
	color: #727321;
	transition: all 0.3s ease;
	font-weight: 400;
}

#ig-sidebar-name h3:hover{
	color: #EACACB;
}


#ig-sidebar-photo{
	grid-column: 1/2;
	grid-row: 4/5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 5px;
}

#ig-side-bar-box-pic2{
	grid-column: 2/3;
	grid-row: 1/2;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic3{
	grid-column: 3/4;
	grid-row: 1/2;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic4{
	grid-column: 1/2;
	grid-row: 2/3 ;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic5{
	grid-column: 2/3;
	grid-row: 2/3;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic6{
	grid-column: 3/4;
	grid-row: 2/3;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic7{
	grid-column: 1/2;
	grid-row: 3/4 ;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic8{
	grid-column: 2/3;
	grid-row: 3/4 ;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic9{
	grid-column: 3/4;
	grid-row: 3/4 ;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic1:hover, #ig-side-bar-box-pic2:hover, #ig-side-bar-box-pic3:hover, #ig-side-bar-box-pic4:hover, #ig-side-bar-box-pic5:hover, #ig-side-bar-box-pic6:hover, #ig-side-bar-box-pic7:hover, #ig-side-bar-box-pic8:hover, #ig-side-bar-box-pic9:hover{
	opacity: 0.7;
}

#ig-sidebar-photo i{
	position: absolute;
    z-index: 1;
}

#ig-sidebar-photo img{
	position: relative;
}

#ig-sidebar-photo .fa-image{
	color: white;
	font-size: 10px;
	margin: 6px;
}

#ig-sidebar-btn-box{
	grid-column: 1/2;
	grid-row: 6/7;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#ig-sidebar-btn{
	background: var(--igSideBarBtnColor);
    border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 175px;
    height: 41px;
	transition: all 0.5s ease;
}

#ig-sidebar-btn:hover{
	background: var(--igSideBarBtnColorHover);
}

#ig-sidebar-btn-box p{
	font-size: 14px;
	color: #73736F;
	letter-spacing: 0.5px;
}

@media only screen and (max-width: 1100px){
	#igSideBar{
		display: none !important;
	}
}
/* IG SIDE BAR.CSS END */





/* FB SIDE BAR.CSS BEGIN */
#fbSideBar{
	grid-column: 1/2;
	grid-row: 4/5;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr;
}

#fbSideBar a{
	text-decoration: none;
	color: white;
}

#fb-sidebar-top{
	grid-column: 1/2;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 75px 7px 215px;
	grid-template-rows: 1fr 1fr;
	width: 300px;
	height: 80px;
	background-image: url("https://raw.githubusercontent.com/Pacific-Feng/Picture_Storer/main/fb-pictures/golden-bridge10.JPG");
	background-size: 100%;
}

#fb-sidebar-pic-outer{
	grid-column: 1/2;
	grid-row: 1/3;
	display: flex;
	justify-content: end;
	align-items: center;
}

#fb-sidebar-pic{
	grid-column: 1/2;
	grid-row: 1/3;
	border: 2px solid white;
	height: 60px;
}

#fb-sidebar-pic img{
	width: 56px;
	height: 56px;
}

#fb-sidebar-name{
	grid-column: 3/4;
	grid-row: 1/2;
	display: flex;
	justify-content: begin;
	align-items: end;
	padding-bottom: 8px;
	padding-left: 15px;
}

#fb-sidebar-name h3{
	font-family: none;
	letter-spacing: 0.2px;
	font-size: 20px;
	font-weight: 600;
	transition: all 0.3s ease;
}
#fb-sidebar-name:hover h3{
	color: 	#f1f1f1;
}


#fb-sidebar-good{
	grid-column: 3/4;
	grid-row: 2/3;
	background: white;
	height: 22px;
	width: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px 0 0 12px;
	border-radius: 2px;
	transition: all 0.3s ease;
}

#fb-sidebar-good:hover{
	background: #f1f1f1;
}

#fb-sidebar-good p{
	font-size: 13px;
	color: #5c5c5c;
	font-family: none;
}

#fb-sidebar-btn-box{
	grid-column: 1/2;
	grid-row: 3/4;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

#fb-sidebar-btn{
	background: var(--igSideBarBtnColor);
    border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 175px;
    height: 41px;
	transition: all 0.5s ease;
}

#fb-sidebar-btn:hover{
	background: var(--igSideBarBtnColorHover);
}

#fb-sidebar-btn p{
	font-size: 14px;
    color: #73736F;
    letter-spacing: 0.5px;
	font-weight: 400;
}



@media only screen and (max-width: 1100px){
	#fbSideBar{
		display: none !important;
	}
}
/* FB SIDE BAR.CSS END */


/* KLOOK SIDE BAR.CSS BEGIN
#klookSideBar{
	grid-column: 1/2;
	grid-row: 5/6;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 30px 30px 1fr;
}

#klookSideBar a{
	text-decoration: none;
}

#klook-side-title{
	grid-column: 1/2;
	grid-row: 2/3;
	display: flex;
	justify-content:center;
	align-items: center;
}

#klook-side-title p{
	font-size: 20px;
}

#klook-side-commerce{
	grid-column: 1/2;
	grid-row: 4/5;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}



@media only screen and (max-width: 1100px){
	#klookSideBar{
		display: none !important;
	}
}
/* KLOOK SIDE BAR.CSS END*/